.btn-theme {
    color: #fff;
    background-color: #4CD195 !important;
}
.btn-theme:hover{
    color:#fff;
}

/* -----------------------header-menu----------------*/
.header-menu{
    padding:15px 0 !important;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
}

/*---------bottom-menu---------------*/
.bottom-menu{
    position:absolute;
    bottom: 0;
    width: 100%;

    box-shadow:0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.bottom-menu a{
    text-align: center;
    padding:15px;
    color:#000;
}
.bottom-menu a p{
    font-size: 12px;
    text-transform: uppercase;
}


